/* ЗМІННІ */
:root {
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --succes: #31d0aa;
  --text: #434455;
  --subtle-text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --hero-background: #2e2f42;
  --white-background: #ffffff;
  --modal-background: #fcfcfc;
  --primary-font: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* ЗАГАЛЬНІ old */

body {
  font-family: var(--primary-font);
  color: var(--text);
  background-color: var(--white-background);
  font-size: 16px;
}

section {
  padding-top: 60px;
  padding-bottom: 60px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

input {
  font-family: var(--primary-font);
}

img {
  display: block;
  width: 100%;
  height: auto;
}

button {
  font-family: inherit;
  border: none;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  cursor: pointer;
}

button:hover,
button:focus {
  color: var(--white-background);
  background-color: var(--pressed-state);
}

.main-text {
  color: var(--dark);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.second-text {
  color: var(--dark);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ЗАГАЛЬНІ */

.container {
  max-width: 428px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/* text */
.main-sub-text {
  color: var(--text);
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ---------------------------HEADER--------------------------- */

.header {
  border-bottom: 1px solid var(--accent);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

@media screen and (min-width: 768px) {
  .header-container {
    height: 72px;
  }
}

@media screen and (min-width: 768px) {
  .header-nav {
    display: flex;
    align-items: center;
  }
}

.logo-header {
  color: var(--primary-brand);
  font-family: var(--logo-font);
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
}

@media screen and (min-width: 768px) {
  .logo-header {
    margin-right: 120px;
  }
}

@media screen and (min-width: 1158px) {
  .logo-header {
    margin-right: 76px;
  }
}

.logo-studio-header {
  color: var(--dark);
}

.nav-list {
  display: flex;
  gap: 40px;
}

@media screen and (max-width: 767.98px) {
  .nav-list {
    display: none;
  }
}

.nav-header-text {
  color: var(--dark);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-header-text:hover,
.nav-header-text:focus {
  color: var(--pressed-state);
}

@media screen and (min-width: 768px) {
  .current {
    position: relative;
    color: var(--pressed-state);
  }

  .current::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: var(--pressed-state);
    border-radius: 2px;
    color: var(--pressed-state);
  }
}

.header-address {
  font-style: normal;
}

.list-address {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media screen and (max-width: 767.98px) {
  .list-address {
    display: none;
  }
}

@media screen and (min-width: 1158px) {
  .list-address {
    flex-direction: row;
    gap: 40px;
  }
}

.header-address-text {
  color: var(--text);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.04em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1158px) {
  .header-address-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

.header-address-text:hover,
.header-address-text:focus {
  color: var(--pressed-state);
}

/* ---------------------------HERO SECTION--------------------------- */

.hero-section {
  /* max-width: 428px; */
  max-width: 1440px;
  min-height: 432px;
  padding: 112px 0;
  margin: 0 auto;
  color: var(--white-background);
  background-color: var(--dark);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/herobg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 768px) {
  .hero-section {
    /* max-width: 768px; */
    height: 436px;
  }
}

@media screen and (min-width: 1158px) {
  .hero-section {
    height: 600px;
    padding: 188px 0;
  }
}

.hero-text {
  color: var(--white-background);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 320px;
  margin: 0 auto;
  margin-bottom: 72px;
  text-transform: capitalize;
}

@media screen and (min-width: 768px) {
  .hero-text {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1158px) {
  .hero-text {
    margin-bottom: 48px;
  }
}

.hero-button {
  display: block;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  margin: 0 auto;
  color: var(--white-background);
  background-color: var(--primary-brand);
  border-radius: 4px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--pressed-state);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

/* ---------------------------PRIVILEGES SECTION--------------------------- */

.privileges-section {
  padding: 96px 0;
}

@media screen and (min-width: 1158px) {
  .privileges-section {
    padding: 120px 0;
  }
}

.list-priveleges {
  display: flex;
  flex-direction: column;
  gap: 72px;
  max-width: 396px;
  /* margin: 0 auto; */
}

@media screen and (min-width: 768px) {
  .list-priveleges {
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 736px;
    gap: 72px 24px;
  }
}

@media screen and (min-width: 1158px) {
  .list-priveleges {
    gap: 24px;
    flex-wrap: nowrap;
    max-width: 1158px;
  }
}

@media screen and (min-width: 768px) {
  .privileges-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .privileges-item {
    width: calc(100% - (24px * 3) / 4);
  }
}

.priveleges-icon-item {
  background-color: var(--light);
  border-radius: 4px;
  padding: 24px 100px;
  margin-bottom: 8px;
  display: flex;
  height: 112px;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1157.98px) {
  .priveleges-icon-item {
    display: none;
  }
}

@media screen and (max-width: 767.98px) {
  .privileges-text-title {
    text-align: center;
  }
}

@media screen and (max-width: 1157.98px) {
  .privileges-text-title {
    margin-bottom: 8px;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
  }
}

@media screen and (min-width: 1158px) {
  .privileges-text-title {
    margin-bottom: 8px;
  }
}

@media screen and (max-width: 1157.98px) {
  .main-sub-text-mt {
    font-weight: 500;
  }
}
/* ---------------------------WHAT ARE WE DOING SECTION--------------------------- */

@media screen and (min-width: 1158px) {
  .wawd-section {
    padding-top: 0;
    padding-bottom: 120px;
  }
}

@media screen and (max-width: 1158px) {
  .wawd-section {
    display: none;
  }
}

.list-wawd {
  display: flex;
  gap: 24px;
}

.wawd-text {
  margin-bottom: 72px;
}

/* .wawd-section-list {
  }
} */

/* ---------------------------OUR TEAM SECTION--------------------------- */

.team-section {
  background-color: var(--light);
  padding: 96px 0;
}

@media screen and (min-width: 1158px) {
  .team-section {
    padding: 120px 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1157.98px) {
  .tab-container {
    max-width: 584px;
  }
}

.our-team-text {
  margin-bottom: 72px;
}

.list-team {
  display: flex;
  flex-direction: column;
  gap: 72px;

  align-items: center;
}

@media screen and (min-width: 768px) {
  .list-team {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px 24px;
    /* justify-content: center; */
  }
}

@media screen and (min-width: 1158px) {
  .list-team {
    gap: 24px;
    flex-wrap: nowrap;
  }
}

.employee {
  background-color: var(--white-background);
  /* max-width: calc((100% - 72px * ) / 2); */
  max-width: 264px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

@media screen and (min-width: 1158px) {
  .employee {
    /* max-width: calc(100% - (24px * 3) / 4); */
  }
}

.text-team {
  text-align: center;
  margin-bottom: 8px;
}

.text-team-sub {
  text-align: center;
  margin-bottom: 8px;
}

.team-name-pos {
  padding: 32px 0;
}

.social-icons {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
}

.icon-container {
  width: 40px;
  height: 40px;
}

.icon-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: var(--primary-brand);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon {
  fill: var(--light);
}

.icon-logo:hover,
.icon-logo:focus {
  background-color: var(--pressed-state);
}

/* ---------------------------CUSTOMERS SECTION--------------------------- */

.customers-section {
  padding: 96px 0;
}

@media screen and (min-width: 1158px) {
  .customers-section {
    padding: 120px 0;
  }
}

.customers-text {
  margin-bottom: 72px;
}

.company-client:hover,
.company-client:focus {
  border-color: var(--pressed-state);
  color: var(--pressed-state);
}

.company-logo {
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .customer-container {
    max-width: 584px;
  }
}

@media screen and (min-width: 1158px) {
  .customer-container {
    max-width: 1158px;
  }
}
.list-customers {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 16px;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .list-customers {
    gap: 72px 24px;
    justify-content: center;
  }
}

@media screen and (min-width: 1158px) {
  .list-customers {
    gap: 24px;
    flex-wrap: nowrap;
  }
}

.customer-item {
  width: calc((100% - 16px) / 2);
  height: 88px;
}

@media screen and (min-width: 768px) {
  .customer-item {
    width: calc((100% - 24px * 2) / 3);
    height: 88px;
  }
}

@media screen and (min-width: 1158px) {
  .customer-item {
    width: calc((100% - 24px * 5) / 6);
    height: 88px;
  }
}

.company-client {
  display: flex;
  width: 100%;
  height: 100%;
  border: 1px solid var(--subtle-text);
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  color: var(--subtle-text);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/**
  |============================
  | 
  |============================
*/
/* MENU */

/* .menu-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px;
  padding-right: 35px;
  padding-top: 80px;
  background-color: var(--white-background);
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
} */

/* ЗАГАЛЬНІ */

.menu-container {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--white-background);
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-main-container {
  display: flex;
  flex-direction: column;
  padding: 40px;
  padding-right: 35px;
  padding-top: 80px;
  margin: 0 auto;
  position: relative;
  max-width: 100%;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-toggle {
  min-width: 32px;
  min-height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  /* border-radius: 50%; */
  outline: none;
  stroke: var(--dark);
}

@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

/* CLOSE BUTTON */

.menu-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  /* color: var(--dark); */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  /* padding: 0; */
  outline: none;
  stroke: var(--dark);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-close-btn:hover,
.menu-close-btn:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

/* MOBILE MENU LIST */

.mobile-menu {
  margin-bottom: auto;
}

.mobile-menu-link {
  display: block;
  padding: 10px;
  color: var(--dark);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  outline: none;
}

.mobile-menu-link:active {
  color: var(--pressed-state);
}

.current {
  position: relative;
  color: var(--pressed-state);
}

.mobile-menu-item:not(:last-child) {
  margin-bottom: 40px;
}

/* ADDRESS */

.mobile-menu-address {
  margin-bottom: 48px;
}

.menu-tel-container {
  margin-bottom: 40px;
  width: 353px;
}

.menu-tel-text {
  color: var(--primary-brand);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

@media screen and (min-width: 428px) {
  .menu-tel-text {
    font-size: 36px;
  }
}

.menu-email-text {
  color: var(--text);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* SOCIAL MEDIA ICONS */

.social-icons-mobile {
  display: flex;
  /* gap: 56px; */
  align-items: center;
  justify-content: space-between;
  padding-right: 25px;
}

.icon-logo-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: var(--primary-brand);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-logo-mobile:active {
  background-color: var(--succes);
}

/* .menu-container .menu-toggle {
  position: absolute;
  top: 24px;
  right: 24px;
  color: var(--dark);
  width: 24px;
  height: 24px;
} */

/* ---------------------------FOOTER--------------------------- */
/* ЗАГАЛЬНІ */
.page-footer {
  background-color: var(--dark);
  padding: 96px 0;
  height: 664px;
}

@media screen and (max-width: 767.98px) {
  .page-footer {
  }
}

@media screen and (min-width: 768px) {
  .page-footer {
    height: 456px;
    /* padding-left: 108px; */
  }
}

@media screen and (min-width: 1158px) {
  .page-footer {
    height: 312px;
    padding: 100px 0;
  }
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 72px;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
    max-width: 584px;
  }
}

@media screen and (min-width: 1158px) {
  .footer-container {
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 1158px;
    margin: 0 auto;
    gap: 0;
  }
}

/* logo */
@media screen and (min-width: 1158px) {
  .footer-logo {
    margin-right: 120px;
  }
}

.footer-logo {
  display: flex;
  flex-direction: column;
}

.logo-footer {
  color: var(--primary-brand);
  font-family: var(--logo-font);
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 16px;
  display: inline-block;
}

@media screen and (max-width: 767.98px) {
  .logo-footer {
    align-self: center;
  }
}

.logo-studio-footer {
  color: var(--light);
}

.footer-text {
  color: var(--light);
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 100%;
  max-width: 264px;
}

@media screen and (min-width: 1158px) {
  .footer-text {
    min-width: 264px;
  }
}

/* SOCIAL MEDIA CONTAINER */

.social-media-container {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .social-media-container {
    align-self: baseline;
  }
}

@media screen and (min-width: 1158px) {
  .social-media-container {
    margin-right: 80px;
  }
}

.footer-social-media-text {
  color: var(--white-background);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  font-size: 16px;
  font-style: normal;
}

@media screen and (max-width: 767.98px) {
  .footer-social-media-text {
    align-self: center;
  }
}

.social-icons-footer {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

.icon-logo-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: var(--primary-brand);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-logo-footer:hover,
.icon-logo-footer:focus {
  background-color: var(--succes);
}

/* SUBSCRIBE CONTAINER */

.subscribe-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .subscribe-container {
    align-self: baseline;
  }
}

.subscribe-text {
  color: var(--white-background);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

@media screen and (max-width: 767.98px) {
  .subscribe-text {
    align-self: center;
  }
}

.subscribe-form {
  display: flex;
  color: var(--white-background);
}

@media screen and (max-width: 767.98px) {
  .subscribe-form {
    flex-direction: column;
    gap: 16px;
  }
}

@media screen and (min-width: 768px) {
  .subscribe-form {
    gap: 24px;
  }
}

.subscribe-input {
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  border-radius: 4px;
  border: 1px solid var(--white, #fff);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 8px 16px 8px;
  width: 100%;
  height: 40px;
  color: var(--white-background-color);
}

@media screen and (min-width: 768px) {
  .subscribe-input {
    width: 264px;
  }
}

.subscribe-input::placeholder {
  color: var(--white-background);
}

/* subscribe-btn */

.subscribe-btn {
  display: flex;
  padding: 8px 24px;
  max-width: 165px;
  max-height: 40px;
  letter-spacing: 0.04em;
  justify-content: center;
  align-self: center;
  border-radius: 4px;
  background-color: var(--primary-brand);
  font-family: var(--primary-font);
  color: var(--white-background);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-icon {
  fill: var(--white-background);
  margin-left: 16px;
}

/**
  |============================
  | 
  |============================
*/
/* ---------------------------MODAL WINDOW--------------------------- */
/**
  |============================
  | 
  |============================
*/

/* ЗАГАЛЬНІ */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-window {
  display: flex;
  flex-direction: column;
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  background-color: var(--modal-background);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 16px 24px 16px;
}

@media screen and (max-width: 768px) {
  .modal-window {
    width: 392px;
  }
}

@media screen and (max-width: 392px) {
  .modal-window {
    width: 100%;
  }
}

.is-hidden .modal-window {
  transform: translateX(-50%) translateY(70%);
}

/* MODAL CLOSE BUTTON */

.modal-btn {
  background-color: var(--accent);
  width: 24px;
  height: 24px;
  padding: 0;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 24px;
  right: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--pressed-state);
  border: none;
}

.modal-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover .modal-btn-icon,
.modal-btn:focus .modal-btn-icon {
  fill: var(--white-background);
}

/*  */

.modal-title {
  color: var(--dark);
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

/* MODAL FORM CONTENT */

.input-title {
  color: var(--subtle-text);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  display: block;
  margin-bottom: 4px;
}

.field-container {
  position: relative;
  margin-bottom: 8px;
}

.input-field {
  /* width: 360px; */
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding-left: 38px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-field:focus {
  border-color: var(--primary-brand);
}

.input-field:focus + .input-icon {
  fill: var(--primary-brand);
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.field-comment-container {
  margin-bottom: 16px;
}

.input-comment {
  width: 100%;
  height: 120px;
  flex-shrink: 0;
  resize: none;
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding: 8px 16px;
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-comment:focus {
  border-color: var(--primary-brand);
}

/* modal accept button */

.modal-accept {
  margin-bottom: 24px;
}

.modal-checkbox {
  width: 16px;
  height: 16px;
}

.checkbox-text {
  display: block;
  color: var(--subtle-text);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.modal-checkbox-accept {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox:checked + .checkbox-text > .modal-checkbox-accept {
  background-color: var(--pressed-state);
  border: none;
  fill: var(--light);
}

.privacy-policy {
  color: var(--primary-brand);
}

/* modal send buttton */
.modal-send-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  margin: auto;
  padding: 16px 32px;
  align-items: center;
  border-radius: 4px;
  background-color: var(--primary-brand);
  color: var(--white-background);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border: none;

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/**
  |============================
  | 
  |============================
*/
/* PORTFOLIO PAGE SECTION */
/**
  |============================
  | 
  |============================
*/

.portfolio-button {
  font-size: 16px;
  letter-spacing: 0.04em;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-item-text {
  border: 1px solid var(--accent);
  border-top: none;
  padding: 32px 16px;
}

.portfolio-main-text {
  margin-bottom: 8px;
}

.portfolio-list-buttons {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.portfolio-button {
  background-color: var(--light);
  color: var(--primary-brand);
  font-weight: 500;
  letter-spacing: 0.04em;
  padding: 12px 24px;
  border: 1px solid var(--accent);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-button:hover,
.portfolio-button:focus {
  background-color: var(--pressed-state);
  color: var(--white-background);
  border: 1px solid transparent;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.portfolio-section {
  padding: 96px 0 120px;
}

.portfolio-overlay-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.overlay-item {
  position: relative;
  overflow: hidden;
}

.overlay {
  background-color: var(--primary-brand);
  color: var(--light);
  display: flex;
  justify-content: center;
  padding: 40px 32px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover p,
.portfolio-link:focus p {
  transform: translateY(0%);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
